{% extends 'baseplate.html' %}
{% block content %}
    <header class="text-center">
        <h2>Hello User: {{userName}}</h2>
        <h2>Your ID is: {{userId}}</h2>
    </header>
    <section>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for badge in gameData%}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{badge['displayName']}}</h5>
                        <p class="card-text">{{badge['description']}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock%}