{% extends 'baseplate_alt.html' %}

{% block contentAlt %}
    <section class="enter-block">
        <form action="{{url_for('badgesAlt')}}" method='POST' class="text-center" onsubmit="startLoading(this);">
            <h1 class="text-white">Enter Nerd Username: </h1>
            <div class="input-group badge-input m-auto name-input input-group-lg">
                <input type="text" class="form-control" placeholder="Literally where else are you gonna put it." aria-label="Roblox Username" aria-describedby="basic-addon2"  name="R_Name" id="R_Name">
                <div class="input-group-append enter-button">
                    <button class="btn btn-outline-none" type="submit" value="submit"><img class="enter-img" src="/static/images/arrow-enter-svgrepo-com.svg" alt=""></button>
                </div>
            </div>
        </form>
        {% if error%}
            <p class="text-center">{{error}}</p>
         {%endif%}
    </section>
    <script src="/static/utilities.js" charset="utf-8"></script>
{% endblock%}