{% extends 'baseplate.html' %}
{% block content %}
    <header class="d-flex justify-content-evenly text-center m-4">
        <!--Rarest Badges Go Here-->
        <h2 class="h2">
            Total Badges: {{gameData['totFoundBadges']}} / {{gameData['totBadges']}}
        </h2>
        <h2 class="h2">Browsing Badges For: {{userName}}</h2>
        <audio controls autoplay id="browse_music">
            <source src="/static/music/TrophyGallery.mp3" type="audio/mpeg">
        </audio>
    </header>

    <div class="progress-bar-container d-flex m-auto flex-column justify-content-center align-items-center {% if gameData['progressBorder'] %}bg-Special pe-3 ps-3 rounded-3{% endif %}">
        <!-- <div class="progress text-center m-3" role="progressbar" aria-label="Progress Bar" aria-valuenow="{{gameData['totFoundBadges']}}" aria-valuemin="0" aria-valuemax="{{gameData['totBadges']}}" style="height: 50px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ gameData['badgePercent'] }}%;"> {{gameData['totFoundBadges']}} / {{gameData['totBadges']}}</div>
        </div> -->

        <div class="progress position-relative m-3" role="progressbar" aria-label="Progress Bar" aria-valuenow="{{gameData['foundCanonBadges']}}" aria-valuemin="0" aria-valuemax="{{gameData['canonBadges']}}" style="height: 50px;">
            <div class="progress-bar bg-{{gameData['progressDisplay']}} progress-bar-striped progress-bar-animated" style="width: {{ gameData['foundPercent'] }}%;"> </div>
            <small class="progress-text justify-content-center align-items-center d-flex position-absolute w-100 h-100 m-auto">[{{gameData['foundCanonBadges']}} / {{gameData['canonBadges']}}] {% if gameData['shadowCollected'] %} (+{{gameData['shadowCollected']}}){% endif %} Completionist Badges</small>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Badge Legend</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="difficulties">
                        <h3>Difficulties</h3>
                        <p>
                            <span class="badge rounded-pill bg-Freebee">Freebee</span> <span>-- Even someone with below room temperature IQ could get it.</span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Easy">Easy</span> <span>-- Out in the open or otherwise easily accessible.</span>
                        <p>
                            <span class="badge rounded-pill bg-Intermediate">Intermediate</span> <span>-- It might take you a little while to get it, but it shouldn't be too hard.</span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Difficult">Difficult</span> <span>-- This is where you'll have to start using your brain (or just have dedication.)</span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Intense">Intense</span> <span>-- You're going to be here for a long time.</span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Soul-Melter">Soul-Melter</span> <span>-- <i>Good luck.</i></span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Nonsensical">Nonsensical</span> <span>-- I advise against attempting this. <i>It's going to hurt.</i></span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Special">Special</span> <span>--  Varies in difficulty and/or has multiple obtainment methods.</span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Undefined">Undefined</span> <span>-- Hasn't been implemented yet.</span>
                        </p>
                    </section>
                    <section class="tags">
                        <h3>Tags</h3>
                        <p>
                            <span class="badge gear tag m-1" data-bs-toggle="tooltip" title="This is where the Gear name would show up" data-bs-placement="bottom" style="cursor:pointer"><img class="tag-img" src="/static/images/Gear.webp" alt="Gear Tag"></span> <span>-- Denotes a badge that gives a Gear. These are items that can be used in the Happy Home realm. Hover over the icon for a moment to see the name of the given gear.</span>
                        </p>
                        <p>
                            <span class="badge artifact tag m-1" data-bs-toggle="tooltip" title="This is where the Artifact name would show up" data-bs-placement="bottom" style="cursor:pointer"><img class="tag-img" src="/static/images/Warp.webp" alt="Artifact Tag"> </span> <span>-- Denotes a badge which gives an <i>Artifact.</i> These are special gears that can be used within the Nexus. Hover over the icon for a moment to see the name of the given gear.</span>
                        </p>
                        <p>
                            <span class="badge bg-primary tag m-1"><img class="tag-img" src="/static/images/red-circle.svg" alt="NonCanon Tag"></span> <span>-- Denotes a badge is considered <i>Non-completionist,</i> and does not add to the completionist badge total on the progress bar.</span>
                        </p>
                        <p>
                            <span class="badge bg-dark tag m-1"><img class="tag-img" src="/static/images/ShadowSwirl.webp" alt="Shadow Tag"></span> <span>-- Denotes a Shadow Badge. These are shrouded in mystery, and unnatturally difficult. These badges do not count toward the badge total.</span>
                        </p>
                        <p>
                            <span class="badge collab tag m-1"><img class="tag-img" src="/static/images/Handshake.webp" alt="Collab Tag"></span> <span>-- Denotes a Collab. This is given to badges that have a proper collab between games. </span>
                        </p>
                    </section>
                    <section>
                        <h3>Important Notes</h3>
                        <ul>
                            <li>
                                Badges in the Extra section <i>do not</i> count towards any badge totals. They only exist as an optional challenge.
                            </li>
                            <li>
                                The color of your progress bar indicates which group role you are eligible for. The order is:
                                <ul>
                                    <li>
                                        Blue -> None
                                    </li>
                                    <li>
                                        Gold -> Golden
                                    </li>
                                    <li>
                                        Cyan -> Ultimate
                                    </li>
                                    <li>
                                        Red -> Infernal
                                    </li>
                                    <li>
                                        Black -> Shadow
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {%for section in gameData['badgeList']%}
    <section class="">
        <h2 class="badge-section text-center m-3 p-3 bg-success bg-gradient border border-3 border-black rounded-3">{{section['sectionName']}}</h2>
            <div class="container mt-4">
                <div class="card-grid">

            {% for badge in section['badges']%}
                    <div class="col">
                        <div class="card h-100 text-center mb-3 {% if not badge.collected %}bg-secondary text-light-emphasis{% endif %}" style="width: 18rem;">
                            <div class="card-body p-2">
                                <div class="card-stomach {% if badge.collected %}card-stomach-color{% endif %}">
                                    <div class="card-head">
                                        <span class="badge rounded-pill bg-{{badge.difficultyVal}}">{{badge.difficultyVal}}</span>
                                        <h5 class="card-title">{{badge.displayName}} </h5>
                                    </div>
                                    
                                    <img class="card-img-top {% if not badge.collected %} opacity-25 {% endif %}" loading="lazy" src={{badge.imagePath}} alt="placeholder"  width="242" height="242" >
                                    <p class="card-text">{{badge.description}}</p>
                                    <div class="d-flex justify-content-end m-1">
                                        {% if badge.gearName %} <span class="badge gear tag m-1" data-bs-toggle="tooltip" title="{{badge.gearName}}" data-bs-placement="bottom" style="cursor:pointer"><img class="tag-img" src="/static/images/Gear.webp" alt="Gear Tag"></span>{% endif %}
                                        {% if badge.shadow %} <span class="badge bg-dark tag m-1"><img class="tag-img" src="/static/images/ShadowSwirl.webp" alt="Shadow Tag"></span>{% endif %}
                                        {% if badge.noncanon %} <span class="badge bg-primary tag m-1"><img class="tag-img" src="/static/images/red-circle.svg" alt="NonCanon Tag"></span>{% endif %}
                                        {% if badge.artifact %} <span class="badge artifact tag m-1" data-bs-toggle="tooltip" title="{{badge.artifact}}" data-bs-placement="bottom" style="cursor:pointer"><img class="tag-img" src="/static/images/Warp.webp" alt="Artifact Tag"></span>{% endif %}
                                        {% if badge.collab %} <span class="badge collab tag m-1"><img class="tag-img" src="/static/images/Handshake.webp" alt="Collab Tag"></span>{% endif %}
                                    </div>
                                    <div class="card-footer">
                                        Earned on: {{badge.awardedDate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary position-fixed m-4 bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Legend
    </button>
    <script src="/static/utilities.js" charset="utf-8"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
{% endblock%}
