{% extends 'baseplate.html' %}
{% block content %}
    <header class="text-center">
        <h2>Hello User: {{userName}}</h2>
        <h2>Your ID is: {{userId}}</h2>
    </header>
    <section>
            <div class="container mt-4">
                <div class="card-grid">

            {% for badge in gameData%}
                    <div class="col">
                        <div class="card h-100 text-center border-dark mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{badge['displayName']}}</h5>
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <p class="card-text align-bottom">{{badge['description']}}</p>
                                {% if badge['collected'] %}
                                    <p class="card-text align-bottom">{{badge['awardedDate']}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock%}
