{% extends 'baseplate.html' %}

{% block content %}
    <form action="{{url_for('badges')}}" method='POST' class="text-center">
        <h1>Enter Roblox Username: </h1>
        <div class="input-group mb-3 name-input">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2"  name="R_Name" id="R_Name">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" value="submit">Button</button>
            </div>
        </div>
    </form>
    {% if error%}
    <p class="text-center">{{error}}</p>
    {%endif%}

    <!-- We should add a spinning wheel while loading here! -->
{% endblock%}