{% extends 'baseplate_alt.html' %}
{% block contentAlt %}
    <header class="d-flex justify-content-evenly text-center m-4">
        <!--Rarest Badges Go Here-->
        <h2 class="h2 text-white">
            Total Badges: {{gameData['totFoundBadges']}} / {{gameData['totBadges']}}
        </h2>
        <h2 class="h2 text-white">Calculating Ego For: {{userName}}</h2>
        <audio controls autoplay id="browse_music">
            <source src="/static/music/TrophyGallery.mp3" type="audio/mpeg">
        </audio>
    </header>

    <div class="progress-bar-container d-flex m-auto flex-column justify-content-center align-items-center {% if gameData['progressBorder'] %}bg-Special pe-3 ps-3 rounded-3{% endif %}">
        <!-- <div class="progress text-center m-3" role="progressbar" aria-label="Progress Bar" aria-valuenow="{{gameData['totFoundBadges']}}" aria-valuemin="0" aria-valuemax="{{gameData['totBadges']}}" style="height: 50px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ gameData['badgePercent'] }}%;"> {{gameData['totFoundBadges']}} / {{gameData['totBadges']}}</div>
        </div> -->

        <div class="progress position-relative m-3" role="progressbar" aria-label="Progress Bar" aria-valuenow="{{gameData['foundCanonBadges']}}" aria-valuemin="0" aria-valuemax="{{gameData['canonBadges']}}" style="height: 50px;">
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: {{ gameData['foundPercent'] }}%;"> </div>
            <small class="progress-text justify-content-center align-items-center d-flex position-absolute w-100 h-100 m-auto">[{{gameData['foundCanonBadges']}} / {{gameData['canonBadges']}}] Copper JJ Badges</small>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog bg-danger modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="staticBackdropLabel">Badge Legend</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="difficulties">
                        <h3>Difficulties (But Only The Ones That Matter)</h3>
                        <p>
                            <span class="badge rounded-pill bg-Intense">Intense</span> <span>-- You're going to be here for a long time.</span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Soul-Melter">Soul-Melter</span> <span>-- <i>Good luck.</i></span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Nonsensical">Nonsensical</span> <span>-- I advise against attempting this. <i>It's going to hurt.</i></span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Special">Special</span> <span>--  Varies in difficulty and/or has multiple obtainment methods.</span>
                        </p>
                        <p>
                            <span class="badge rounded-pill bg-Undefined">Undefined</span> <span>-- Hasn't been implemented yet.</span>
                        </p>
                    </section>
                    <section class="tags">
                        <h3>Tags</h3>
                        <p>
                            <span class="badge bg-danger tag m-1"><img class="tag-img" src="/static/images/CopperFedora.webp" alt="CopperJJ Tag"></span> <span>--Denotes a badge that can only be achieved by <i>real</i> badge hunters.</span>
                        </p>
                    </section>
                    <section>
                        <h3>Important Notes</h3>
                        <ul>
                            <li>
                                All of these badges are mandatory, except if you're a coward.
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {%for section in gameData['badgeList']%}
    <section class="">
        <h2 class="badge-section text-center m-3 p-3 bg-danger bg-gradient border border-3 border-black rounded-3">{{section['sectionName']}}</h2>
            <div class="container mt-4">
                <div class="card-grid">

            {% for badge in section['badges']%}
                    <div class="col">
                        <div class="card h-100 text-center mb-3 {% if not badge.collected %}bg-secondary text-light-emphasis{% endif %}" style="width: 18rem;">
                            <div class="card-body p-2">
                                <div class="card-stomach {% if badge.collected %}card-stomach-color{% endif %}">
                                    <div class="card-head">
                                        <span class="badge rounded-pill bg-{{badge.difficultyVal}}">{{badge.difficultyVal}}</span>
                                        <h5 class="card-title">{{badge.displayName}} </h5>
                                    </div>
                                    
                                    <img class="card-img-top {% if not badge.collected %} opacity-25 {% endif %}" loading="lazy" src={{badge.imagePath}} alt="placeholder"  width="242" height="242" >
                                    <p class="card-text">{{badge.description}}</p>
                                    <div class="d-flex justify-content-end m-1">                    
                                        <span class="badge bg-danger tag m-1"><img class="tag-img" src="/static/images/CopperFedora.webp" alt="CopperJJ Tag"></span>
                                    </div>
                                    <div class="card-footer">
                                        Earned on: {{badge.awardedDate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger position-fixed m-4 bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Legend
    </button>
    <script src="/static/utilities.js" charset="utf-8"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
{% endblock%}
