{% extends 'baseplate.html' %}
{% block content %}
    <main class="home m-auto mt-3 p-3 text-center">
        <img class="img-fluid rounded" src="/static/images/HomeBanner.webp" alt="HomeBanner">
        <header class="m-3">
            <h1>Welcome!</h1>
            <p>            
                Welcome to the Official Happy Home Badge Hunt Website! This website was made with the permission and guidance of Tom284. This website will
                regularly be updated and expanded, so check by every now and then! If you're interested in playing the game; it can be found <a href="https://www.roblox.com/games/19336334/Happy-Home-Badge-Hunt" target="_blank">here!</a>
            </p>
            <h2>What is Happy Home Badge Hunt?</h2>
            <p>
                Happy Home Badge Hunt (HHBH) is a game created in Roblox by veteran Roblox user Tom284. 
                The game was first created in 2009, but has since been expanded into a evergrowing universe that branches between realms!
                Every corner of the game has a challenge to overcome, and a badge to collect. 
                It also features a colorful and unique cast of characters, and expansive world building!
                So, don't be afraid to explore! Something to discover awaits between the blocks of every realm.
            </p>
            <audio controls autoplay id="browse_music">
                <source src="/static/music/Demonhunter.webm" type="audio/mpeg">
            </audio>
        </header>
        <section class="overview">

        </section>
        <section class="other-pages">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="/static/images/Title1.webp" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tons of Badges to Collect!</h5>
                        <p class="card-text">The HHBH universe has oodles of Badges to collect, all with their own set of challenges. They can range from being a walk in the park, to soul-crushingly difficult. Keep your wits about you, and don't be afraid of exploring outside the boundaries!</p>
                        <p class="card-text"> Want to see your progress? Use the <a href="{{url_for('badges')}}">Badge List</a> page to see what badges you might be missing!</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">A Unique and Engaging Story</h5>
                        <p class="card-text">HHBH contains a colorful cast of characters, and gripping world building that defies expectations. There is lore to discover 
                            scattered across the lands connected by the Nexus. See if you can piece together the story for yourself! Most characters will be very talkative, see if 
                            you can learn more from them?
                        </p>
                        <p>
                            I promise you there is more than just these noobs lol
                        </p>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <img src="/static/images/Title2.webp" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="/static/images/Title3.webp" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">A Creative and Friendly Community</h5>
                        <p class="card-text"> 
                            The HHBH community is friendly and endlessly creative. Despite the relatively small fanbase of the game, they are
                            loyal and welcoming of anyone starting out on their adventure. 
                            If you see anyone in the server with you, try getting them to sword fight with you!
                        </p>
                        <p>
                            I am planning on adding a fanart page at some point to show off the communities creativity, so stay tuned!
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="/static/utilities.js" charset="utf-8"></script>
{% endblock %}