{% extends 'baseplate_alt.html' %}
{% block contentAlt %}
    <main class="home m-auto mt-3 p-3 text-center">
        <img class="img-fluid rounded" src="/static/images/HomeBanner.webp" alt="HomeBanner">
        <header class="m-3">
            <h1>Welcome to <i>my</i> world.</h1>
            <p>            
               Welcome to the Hax Headquarters. <i>Nah, just kidding.</i> This website was made without permission by yours truly. 
               It'll be updated whenever I feel like it. 
               Check back once in a blue moon to <i>maybe</i> get an update.
               Anyway, go visit <a href="https://www.roblox.com/games/19336334/Happy-Home-Badge-Hunt" target="_blank">Nexus...</a> 
               but only after basking in my glory.
            </p>
            <h2>Universe ID 19336334:</h2>
            <p>
                Happy Home Badge Hunt (or HHBH if you're a nerd) is the false pseudonym of our shell company. 
                We use it to lure in unsuspecting victims for us to <span class="REDACTED">[REDACTED TEXT.]</span>
                Every corner of this universe has a trap waiting to be sprung. 
                Don't worry, you never had a choice to begin with.
            </p>
            <audio controls autoplay id="browse_music">
                <source src="/static/music/Demonhunter.webm" type="audio/mpeg">
            </audio>
        </header>
        <section class="overview">

        </section>
        <section class="other-pages">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="/static/images/Title1.webp" class="img-fluid rounded-end" alt="Earn Badges!">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Check out this <a href="{{url_for('badgesAlt')}}">Badge List.</a></h5>
                        <p class="card-text">Our universe has plenty of badges to collect, but you already know that. 
                            Don't bother looking at the regular <a href="{{url_for('badgesAlt')}}">Badge List.</a> Instead, look at <a href="{{url_for('badgesAlt')}}">mine.</a> 
                            I'm one of those "obbyist badger puzzle solvers" as you Robloxians like to say, 
                            so I know a good challenge when I see one. I've even made some of my own! 
                            Go on, take a look at my personal <a href="{{url_for('badgesAlt')}}">Badge List.</a> You'll love it.</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Let me control your every move.</h5>
                        <p class="card-text">My organization contains a colorful cast of characters, literally and figuratively. 
                            Though, let's be real. I'm the best. This is my domain, so I make the rules. 
                            If you wanna learn more about us, head to Wanderer's <a href="https://www.roblox.com/games/18248596/Museum" target="_blank">Museum.</a>
                            It's the only Overseer that I trust. As a heads up, you're gonna need a buncha badges for the second floor. 
                        </p>
                        <p>
                            I promise you there's no traps there. Probably.
                        </p>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <img src="/static/images/Title2.webp" class="img-fluid rounded-start" alt="Talk to Noobs!">
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="/static/images/Title3.webp" class="img-fluid rounded-end" alt="Drive Cars!">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">I have endless methods. Don't test me.</h5>
                        <p class="card-text"> 
                            My kind are friendly if you're obedient. Otherwise, I can't guarantee your safety. 
                            We know many ways to break you. All we have to do is separate the soul from the vessel.
                        </p>
                        <p>
                            Be grateful I'm merciful compared to most of my kin. There are countless lost in Void which won't hold back.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="/static/utilities.js" charset="utf-8"></script>
{% endblock %}