{% block userForm %}
    <form action="{{url_for('badges')}}" method='POST' class="text-center">
        <h1>Enter Roblox Username: </h1>
                <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="R_Name" id="R_Name">
        </div>
        <input type="submit" value="submit">
    </form>
{% endblock%}